# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# Xcode stuff
DerivedData/
build/
*.xcodeproj

# Visual studio
x64/
ipch/
.vs/
Debug/
*.pdb
*.sdf
*.sln
*.opendb
*.vcxproj*

# Renderdoc
*.cap

# ImGUI
imgui.ini

wip/
*.bob